@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;400;600&family=IBM+Plex+Sans:wght@300;400;600&display=swap');
$black-color: #000;
$white-color: white;
$yellow-color: rgb(229, 233, 15);
$litegray-color: rgb(228, 228, 228);
$litegreen-color: rgb(14, 124, 78);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
img {
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    
}

ul{
    list-style: none;
}

/*****HEADER*****/

header{
    background-color: #3B5062;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    .logo{
        color: $yellow-color;
        h1{
            text-transform: uppercase;
            font-weight: 400;
            
        }
        
    }
    .icons{
        color: $white-color;
        font-size: 1.5rem;
        i{
            margin: 0 0.6rem;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                color: $yellow-color;
            }
        }
    }
}

/*****NAVBAR*****/
nav{
    background-color: $white-color;
    padding: 1rem;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin: 0 1rem;
            a{
                font-size: 1.2rem;
                color: $litegreen-color;
                transition: 0.5s;
                &:hover{
                    text-decoration: underline;
                    
                }
            }
        }
    }
}

/*****HeroSection*****/
.hero{
    background: linear-gradient(rgba($litegray-color, 0.1), rgba($litegray-color, 0.1)), url(img/header.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
        background: rgba($litegreen-color, 0.5);
        
        padding: 4rem;
        text-align: center;
        h2{
            color: $white-color;
            font-size: 3rem;
            font-weight: 700;

        }
       p{
        margin: 1rem;
        color: $white-color;
        font-size: 1.2rem;
       }
       button{
        background-color: $yellow-color;
        border: none;
        padding: 0.7rem 2rem;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: 0.6s;
        &:hover{
            background: rgb(143, 143, 70);
            transition: 0.6s;
            
            
            
        }
       }
    }
}

/*****AboutSection*****/

.about{
    background: linear-gradient(rgba($litegreen-color, 0.5), rgba($litegreen-color, 0.5)), url(img/onama.jpg);
    background-position: bottom;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2{
        color: $white-color;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    p{
        color: $white-color;
    }
    
}

/*****IMGSection*****/

.img{
    display: flex;
    flex-wrap: wrap;
    .slika{
        flex: 0 0 25%;
        hr{
            border: none;
            height: 0.5rem;
            background-color: $yellow-color;
        }

    .img-text{
        background-color: #3B5062;
        padding: 0.8rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: $white-color;
    } 
    .img-text1{
        background-color: $litegreen-color;
        padding: 0.8rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: $white-color;
    }   
    }
}


/*****LOCATION*****/
// .location{

//     .veliki-div{
//         display: flex;
//         flex-wrap: wrap;

//             div{
//                 flex: 0 0 50%;

//         }
//         .location-text{
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-direction: column;

//             h3{
//                 font-size: 1.6rem;
//                 color:$litegreen-color;
//                 text-align: center;
//             }
//             p{
//                 margin:0.5rem 3rem;

//             }


//         }
//         .location-slika{
//             img{
//                 height:40vh;
//             }
//         }
//     }
// }

.location{
    
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    .cell{
        flex: 1 1 50%;
        text-align: center;
        align-items: center;
        

        img{
            
            max-width: 100%;
            height: auto;
            

        }
    }
    .cell-txt{
        
        display: flex;
        flex: 1 1 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 3rem;
        h3{
            font-size: 1.2rem;
            color: $litegreen-color;
            
        }
        p{
            margin:0.5rem 3rem;
            text-align: center;
        }
    }
}


/*****FOOTER*****/
footer{
    background:linear-gradient(rgba($yellow-color,0.8),rgba($yellow-color,0.8)), url(img/footer.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3{
        font-size: 1.6rem;
        font-weight:800;
    }
    p{
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    form{
        input{
            padding: 0.7rem;
            border: none;
            
        }
        .btn{
            background-color: $litegreen-color;
            border: none;
            padding: 0.7rem 3rem;
            cursor: pointer;
            color: $white-color;
            text-transform: uppercase;
            transition: 0.5s;
            &:hover{
                background-color: rgb(6, 59, 6);
            }
        }
    }

}